.color-white {
    color: white;
}

.color-gray {
    color: rgb(173, 173, 173);
}

.bg-blue {
    background-color: rgb(34, 161, 235);
}

.bg-blue-gray {
    background-color: rgb(169, 197, 202);
}

.bg-gray {
    background-color: rgb(234, 238, 243);
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    margin: 0;
    padding: 2vh;
}

footer {
    margin: 0;
    padding: 2vh;
    position: fixed;
    bottom: 0;
    width: 100vw;
}

header h1 {
    margin: 0;
    font-weight:300;
}

.centerXY {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.centerX {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mainSection {
    padding-top: 6%;
    padding-bottom: 6%;
}

.welcomMail {
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;   
    font-weight: lighter;
}

form {
    display: grid;
    grid-template-rows: 40vh 40px;
    grid-template-areas: 
            "top"
            "bottom";
}

input {
    min-width: 100px;
    width: 60vw;
    height: 30px;
    border: 0;
    background-color: rgb(223, 236, 238);
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    border-radius: 5px;
}

input[type=submit] {
    background-color: rgb(34, 161, 235);
    color: white;
    font-size: large;
    min-width: 100px;
    width: 63vw;
    height: 40px;
}

nav.menu{
    display: grid;
    grid-template-columns: 50% 50%;
}

nav.menu div {
    padding-top: 2vh;
    padding-bottom: 2vh;
    background-color: rgb(34, 161, 235);
    text-align: center;
    color: white;
}

nav.menu div.active {
    background-color: rgb(83, 180, 236);
}

.adContainer {
    margin: 2%;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: start;
    display: grid;
    grid-template-columns: calc(200px + 2vw) calc(100vw - 200px - 10vw);
}

.adContainer img {
    width: 200px;
    border-radius: 10px 0 0 10px;
    margin-right: 2vw;
}

.adContainer h4, .adContainer p {
    margin-top: 0;
    margin-bottom: 0;
}

.adDesc {
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(0, 0, 0);
}

.adContainer .bottom {
    display: flex;
    justify-content: space-between;
}

.adContainer .bottom .time {
    font-weight: lighter;
    font-size: small;
    color: rgb(197, 197, 197);
}

.adContainer .bottom .price {
    font-weight: bold;
}